
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

:root {
  --body-bg: #ffffff;
  ---cor-texto: rgb(0, 0, 0);
  ---body-color: #555;
  ---link-color: #222;
  ---link-color-hover: #ff014d;
  ---nav-bk: rgb(32, 0, 2);
}

.dark-mode:root {
  --body-bg: #1f1f1f;
  ---cor-texto: rgb(194, 194, 194);
  ---body-color: rgb(129, 129, 129);
  ---link-color: rgb(201, 201, 201);
  ---link-color-hover: rgb(255, 136, 0);
  ---nav-bk: rgb(175, 0, 9);
} 

/*
color: var(---link-color-hover);
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

nav ul li {
  display: inline-block
}

nav ul li,
nav ul li a {
  color: var(---link-color);
}

li {
  list-style-type: none;
}

*,
.principal-ft a,
a,
a:hover,
nav ul li a {
  text-decoration: none
  var(---link-color-hover);
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 0;  
}

#main-sobre {
  color: #000;
  font-size: larger;
}

@media screen and (max-width:967px) {
  
}

@media screen and (min-width:968px) {
  
}

@media screen and (min-width:1024px) {
  
}
  
h2{
  font-family: "Dancing Script", cursive; 
}

.header-section {
  width: 100%;
  height: 100vh;
  padding: 15px;
  background: url(../imagens/working-at-desk.png)no-repeat center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
}

.header-texto {
  background-color: #863e9e1c;
  border-radius: 20px;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
  width: 400px;
  font-family: "Oswald", sans-serif;
  backdrop-filter: blur(5px);
}

.header-texto h1 {
  font-size: 90px;
  color: #fff;
  font-family: "Dancing Script", cursive;
}

.header-icon-dw {
  position: absolute;
  top: 90%;
  right: 50%;
}

.btn {
  border: 1px solid rgb(255, 255, 255);
  background: #ffae0000;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: 5px;
  transition: .2s;
  border-radius: 5px;
  width: 120px;
}

.btn:hover {
  background: #ff014d;
  border: 0;
  transform: translateY(-2px);
  color: #fff
}

.header-formulario {
  padding: 10px;
  display: flex;
  width: 300px;
}



.lead {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}

#menu {
  background-color: transparent !important;
  padding: 1.5rem 1rem;
  transition: all 500ms linear
}

#menu.ativo {
  background-color: var(---nav-bk) !important;
  padding: 0 1rem;
}

.cabeçalho {
  background-color: #2aa4d800;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.cabeçalho-imagem img {
  height: 30px;
  margin-right: 10px;
}

.cabeçalho-texto {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.cabeçalho-redes-icon {
  height: 40px;
  padding: 5px;
}

.cabeçalho-redes {
  color: #fff;
  gap: 15px;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-items: center;
  align-content: center;
}

.principal-ft {
  border-top: 5px solid rgba(20, 20, 20, 0.5);
  background: url(../imagens/footer.jpg)no-repeat center;
  background-size: cover;

  font-family: Arial, Helvetica, sans-serif;
  
  height: 100%;
  color: #e7e7e7;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-around;
}

.principal-ft a {
  color: var(---link-color);
} 

.principal-ft a:hover {
  color: var(---link-color-hover);
} 

.principal-ft img {
  width: 60px;
  height: auto
}

.item-ft {
  flex: 1 1 150px;
  align-content: flex-start
}

.item-ft img {
  width: 2em;
  height: auto
}

.up img {
  width: 40px
}

.photo-gallery {   
  background-color: var(--body-bg);
}

.photo-gallery p {
  color: var(---cor-texto);
}

.photo-gallery h2 {
  font-weight: 700;  
  padding-top: 40px;
  color: inherit
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px
  }
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px
}

.photo-gallery .intro p {
  margin-bottom: 0
}

.photo-gallery .photos {
  padding-bottom: 20px
}

.photo-gallery .item {
  padding-bottom: 30px
}

.footer{
  background: url(../imagens/working-at-desk.jpg)no-repeat center;
  background-size: cover;
}

/*?---------------------------------*/
.switch {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  
}

.switch--shadow + label {
  padding: 2px;
  width: 40px;
  height: 20px;
  background-color: #dddddd;
  border-radius: 30px;
}

.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 30px;
  transition: all 0.4s;
}
.switch--shadow + label:after {
  width: 22px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch--shadow:checked + label:before {
  background-color: #500000;
}
.switch--shadow:checked + label:after {
  transform: translateX(20px);
}
/* .switch__container{
  position: absolute;
  top: 5;
  right: 2%;  
  
} */